# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
dist/
*.tsbuildinfo

# Vercel
.vercel/
vercel-debug.log

# Archivos de entorno
.env
.env.local
.env.*.local

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# Logs y cachés
logs/
*.log
yarn.lock
package-lock.json

# Otros archivos innecesarios
.DS_Store
Thumbs.db
.vercel

.vercel
